Dear <%= @user_name %>

This is you new password: <%= @user_password%>

We would recommend you to reset you password, using this password.
<a href="http://localhost:3000/account/reset_password">click here to reset password</a>

Thanks
Notifier